In [1]:
from API_KEY import api_key
import googlemaps
import requests
import json
import pandas as pd
import os
import gmplot

In [2]:
api = api_key()

In [3]:
gmaps = googlemaps.Client(key=api_key())

In [4]:
#warehouse location
#4657 62 Street

In [17]:
os.getcwd()

'C:\\Users\\abelp\\Desktop\\liquor\\driver_model'

In [18]:
location_ = os.getcwd() + '\\address_data\\ca\\ab\\city_of_red_deer.csv'

In [25]:
rd = pd.read_csv(location_)

In [26]:
rd

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,-113.769562,52.244131,1,ABEL CL,NaN,NaN,NaN,NaN,NaN,NaN,337be5934703dd63
1,-113.783018,52.242337,1,AINSWORTH CR,NaN,NaN,NaN,NaN,NaN,NaN,663543b88ab20de2
2,-113.771100,52.249808,1,ALEXANDER CR,NaN,NaN,NaN,NaN,NaN,NaN,158228bbdb9cbbac
3,-113.789997,52.247050,1,ALLAN ST,NaN,NaN,NaN,NaN,NaN,NaN,c8c24953c455462f
4,-113.785442,52.244930,1,ALLSOP AV,NaN,NaN,NaN,NaN,NaN,NaN,b011678dae9236b5
...,...,...,...,...,...,...,...,...,...,...,...
55065,-113.808717,52.264765,4501,48 AV,610,NaN,NaN,NaN,NaN,NaN,de5ffc7478b7bc2e
55066,-113.808725,52.264958,4501,48 AV,613,NaN,NaN,NaN,NaN,NaN,8cf4dcbdbf3beb01
55067,-113.808729,52.265041,4501,48 AV,614,NaN,NaN,NaN,NaN,NaN,fe682c3c179d1937
55068,-113.808483,52.265046,4501,48 AV,615,NaN,NaN,NaN,NaN,NaN,3951807fc70b91cf
55069,-113.808488,52.264970,4501,48 AV,616,NaN,NaN,NaN,NaN,NaN,2677e71a5b600e83

In [ ]:
def run_simulation(orders=num_orders, rd):

In [21]:
test_directions = gmaps.distance_matrix(origins=(52.283877, -113.807013), destinations=(52.285842,-113.7686521), mode='driving')

In [22]:
test_directions

{'destination_addresses': ['5 Clearview Market Way, Red Deer, AB T4P 0M9, Canada'],
 'origin_addresses': ['4657 62 St, Red Deer, AB T4N 2R4, Canada'],
 'rows': [{'elements': [{'distance': {'text': '3.8 km', 'value': 3825},
     'duration': {'text': '6 mins', 'value': 354},
     'status': 'OK'}]}],
 'status': 'OK'}

In [35]:
rd[['LON', 'LAT']].sample(n=100)

              LON        LAT
25937 -113.818707  52.287620
26854 -113.824058  52.261046
44670 -113.829194  52.249322
49699 -113.778652  52.285757
53193 -113.752799  52.238143
...           ...        ...
8912  -113.825304  52.252736
39289 -113.751795  52.245171
16839 -113.820902  52.274376
13248 -113.791567  52.263668
23169 -113.768557  52.261609

[100 rows x 2 columns]